.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pagination {
  width: 100px;
  background-color: green;
}

.count-page {
  font-size: 45px;
  color: #fff;
  margin: 0 20px;
}
